@model IEnumerable<Web.Models.SiparisView>

@{
    ViewData["Title"] = "Sepetimdekiler";
}

<h2>Siparişlerim</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().UrunAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Miktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SiparisDurumAd)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Miktar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiparisDurumAd)
                </td>
            </tr>
        }
    </tbody>
</table>